<?xml version="1.0" encoding="utf-8"?>
<Content Key="255a3c8d-2f41-406b-b701-a32bbcbe3623" Alias="About Us" Level="2">
  <Info>
    <Parent Key="742b5287-26a8-480b-84e8-dbf129ee1129">Official Onatrix - Home</Parent>
    <Path>/OfficialOnatrixHome/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-30T20:55:05</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="60970b12-8be4-4f2a-bfbf-7326119f43ce">aboutPage</Template>
  </Info>
  <Properties>
    <aboutMainImage>
      <Value><![CDATA[[
  {
    "key": "2fe970b9-e17f-4809-b790-d9e0bdec93ee",
    "mediaKey": "0cba882f-9c44-48cf-997d-1dc532a82649",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutMainImage>
    <aboutMainQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutMainQuote>
    <aboutMainText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutMainText>
    <aboutMainTextImage>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutMainTextImage>
    <ourTeamHeadline>
      <Value><![CDATA[Our expert]]></Value>
    </ourTeamHeadline>
    <ourTeamTitle>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourTeamTitle>
    <teamMember1Image>
      <Value><![CDATA[[
  {
    "key": "032e5aad-75a8-4e3f-8f10-63597e3e9cf4",
    "mediaKey": "26fd7cb1-f19d-4efb-95ac-aad255b5e2f6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember1Image>
    <teamMember1Name>
      <Value><![CDATA[Brandon Newton]]></Value>
    </teamMember1Name>
    <teamMember1Position>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamMember1Position>
    <teamMember2Image>
      <Value><![CDATA[[
  {
    "key": "45f649da-a0d0-41c9-b908-dbf0f383b5fc",
    "mediaKey": "a4870db6-e4d4-4c80-a3c2-7c1eecde1594",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember2Image>
    <teamMember2Name>
      <Value><![CDATA[AJ Carter]]></Value>
    </teamMember2Name>
    <teamMember2Position>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamMember2Position>
    <teamMember3Image>
      <Value><![CDATA[[
  {
    "key": "04351f87-ac34-4f80-92d4-0ce5f0bd543a",
    "mediaKey": "437d8ae9-ce03-475b-adc7-45c87bc9d1a4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember3Image>
    <teamMember3Name>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </teamMember3Name>
    <teamMember3Position>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </teamMember3Position>
    <teamMember4Image>
      <Value><![CDATA[[
  {
    "key": "990ced18-8ee3-45a9-b9a4-721ad7f92b42",
    "mediaKey": "b227e524-ad2c-4cf3-823d-cae155c31dce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember4Image>
    <teamMember4Name>
      <Value><![CDATA[Tina Fox]]></Value>
    </teamMember4Name>
    <teamMember4Position>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </teamMember4Position>
    <teamMember5Image>
      <Value><![CDATA[[
  {
    "key": "a38c31b9-661d-40a0-ab81-3cd0fee63e0e",
    "mediaKey": "b2bf65d6-a4d5-4409-8fe6-0ef523eb47da",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember5Image>
    <teamMember5Name>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </teamMember5Name>
    <teamMember5Position>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </teamMember5Position>
    <teamMember6Image>
      <Value><![CDATA[[
  {
    "key": "f913e1c1-1774-417a-91b4-45e4514ba0cf",
    "mediaKey": "0dcce9a9-e6a8-44d6-907e-869da4f690f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember6Image>
    <teamMember6Name>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </teamMember6Name>
    <teamMember6Position>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </teamMember6Position>
    <teamMember7Image>
      <Value><![CDATA[[
  {
    "key": "a580d31d-9a10-472e-ab8c-52325873e176",
    "mediaKey": "9be26461-22c9-414b-8b42-c9d297c01426",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamMember7Image>
    <teamMember7Name>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </teamMember7Name>
    <teamMember7Position>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </teamMember7Position>
    <testimonialsHeadline>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </testimonialsHeadline>
    <testimonialsImage>
      <Value><![CDATA[[
  {
    "key": "392eaba0-c63f-4e56-b17a-9ed86736d9b6",
    "mediaKey": "8f933f2d-0135-49aa-91b9-0eb17505cd00",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </testimonialsImage>
    <testimonialsText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </testimonialsText>
    <testimonialsTitle>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </testimonialsTitle>
  </Properties>
</Content>