<?xml version="1.0" encoding="utf-8"?>
<Content Key="4aef1cf6-ca36-401c-a21b-50712f86b3dd" Alias="Annual Report " Level="3">
  <Info>
    <Parent Key="c7f42aa9-c250-4df5-b137-207ba0e70617">Our Projects</Parent>
    <Path>/OfficialOnatrixHome/OurProjects/AnnualReport</Path>
    <Trashed>false</Trashed>
    <ContentType>annualReport</ContentType>
    <CreateDate>2024-10-02T12:21:26</CreateDate>
    <NodeName Default="Annual Report " />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b5a13610-514f-4e98-bcbc-5c66062d6e22">annualReport</Template>
  </Info>
  <Properties>
    <annualReportHeadline>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.]]></Value>
    </annualReportHeadline>
    <annualReportImage>
      <Value><![CDATA[[
  {
    "key": "27645fe8-5f2f-4d75-9038-ccc6725e85e9",
    "mediaKey": "c372b579-1a02-4d12-a836-35220c9b8c22",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportImage>
    <annualReportImage2>
      <Value><![CDATA[[
  {
    "key": "5fac592c-df21-4000-842d-1b94f74142cd",
    "mediaKey": "c65789bd-2b46-43f9-b58f-77baee6a64de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportImage2>
    <annualReportImage3>
      <Value><![CDATA[[
  {
    "key": "da1dc266-a3e4-4e9c-a324-b8ab2853a76e",
    "mediaKey": "c7ea0d73-9fb6-4ba9-83a1-e1973bb8078a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportImage3>
    <annualReportSideImage1>
      <Value><![CDATA[[
  {
    "key": "19aff356-7f7f-4cd6-8387-3cb5f33f4834",
    "mediaKey": "7822f0aa-7a94-479a-9a2e-e7f587cbcd7b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage1>
    <annualReportSideImage2>
      <Value><![CDATA[[
  {
    "key": "446183db-90f3-4478-ab0d-61c7bf6792bc",
    "mediaKey": "87bb5fd0-9219-4a47-8939-4f2f984919ee",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage2>
    <annualReportSideImage3>
      <Value><![CDATA[[
  {
    "key": "eab66c22-f782-4ffa-828e-f34ff58d5666",
    "mediaKey": "91787c3a-e60c-44d7-b1d5-f1bad1b758cd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage3>
    <annualReportSideImage4>
      <Value><![CDATA[[
  {
    "key": "d35ea519-6246-4289-a644-7331e7dff3eb",
    "mediaKey": "f3a1f9e2-0181-4652-81ba-f3ac357bc7ee",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </annualReportSideImage4>
    <annualReportTime>
      <Value><![CDATA[June 15, 2024]]></Value>
    </annualReportTime>
  </Properties>
</Content>