<?xml version="1.0" encoding="utf-8"?>
<Content Key="2609d72d-e8ac-45fc-97cf-c26748618ed7" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="742b5287-26a8-480b-84e8-dbf129ee1129">Official Onatrix - Home</Parent>
    <Path>/OfficialOnatrixHome/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactsPage</ContentType>
    <CreateDate>2024-10-01T23:30:28</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8449b3bc-4cee-4265-a5ac-537cbcf8b6a4">contactsPage</Template>
  </Info>
  <Properties>
    <contactsHeadline>
      <Value><![CDATA[Contact]]></Value>
    </contactsHeadline>
    <contactsImagemap>
      <Value><![CDATA[[
  {
    "key": "eb6101f3-f865-47cb-a95b-6628321a0d76",
    "mediaKey": "7c8fd1aa-1f0e-45d2-8cfa-41998c266bdf",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactsImagemap>
  </Properties>
</Content>