<?xml version="1.0" encoding="utf-8"?>
<Content Key="742b5287-26a8-480b-84e8-dbf129ee1129" Alias="Official Onatrix - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialOnatrixHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-30T20:48:18</CreateDate>
    <NodeName Default="Official Onatrix - Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a734803b-c4d4-4aae-adb9-91e36e2cdd7f">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "e11e8c55-959a-4c88-ba5a-ffd87f229ff4",
    "mediaKey": "be261179-163e-492e-bfb6-3adacf031b7e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e593aac3-e90c-4e80-8a23-c3e41d8b36df",
    "mediaKey": "cffd1dcc-1b6a-4ac8-87f7-a96056747699",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.]]></Value>
    </heroText>
    <ourProjects1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourProjects1Headline>
    <ourProjects1Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjects1Text>
    <ourProjects2Headline>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </ourProjects2Headline>
    <ourProjects2Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjects2Text>
    <ourProjects3Headline>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </ourProjects3Headline>
    <ourProjects3Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjects3Text>
    <ourProjects4Headline>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </ourProjects4Headline>
    <ourProjects4Text>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjects4Text>
    <ourProjectsFirstImage>
      <Value><![CDATA[[
  {
    "key": "ac40a5d5-1a13-4348-a754-cdef7bda61c3",
    "mediaKey": "c372b579-1a02-4d12-a836-35220c9b8c22",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsFirstImage>
    <ourProjectsFouthImage>
      <Value><![CDATA[[
  {
    "key": "913a7aaf-1b96-4220-9cbc-2f47b67f9d40",
    "mediaKey": "8516a465-10df-455d-a570-2bf860d99c58",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsFouthImage>
    <ourProjectsHeadline>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </ourProjectsHeadline>
    <ourProjectsSecondImage>
      <Value><![CDATA[[
  {
    "key": "6af3cc47-423b-4063-aefa-79496a80e860",
    "mediaKey": "22dca29d-5918-422f-b8e4-0c0f4c4487a6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsSecondImage>
    <ourProjectsThirdImage>
      <Value><![CDATA[[
  {
    "key": "0c6973a8-ad43-4cc8-8beb-f0648e4b6d50",
    "mediaKey": "cb2c07c4-8c43-4787-bde4-48ab87bf8ce3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsThirdImage>
    <ourProjectsTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </ourProjectsTitle>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <successStoriesHeadline>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStoriesHeadline>
    <succesStorie1Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </succesStorie1Text>
    <succesStorie2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </succesStorie2Text>
    <succesStorie3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </succesStorie3Text>
    <succesStorieBackground>
      <Value><![CDATA[[
  {
    "key": "57dada86-90d7-4038-913c-4e742b48c93c",
    "mediaKey": "80ecbe47-1fc5-443c-843e-76af2c5d9a79",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </succesStorieBackground>
    <succesStorieNumber1>
      <Value><![CDATA[689]]></Value>
    </succesStorieNumber1>
    <succesStorieNumber2>
      <Value><![CDATA[370]]></Value>
    </succesStorieNumber2>
    <succesStorieNumber3>
      <Value><![CDATA[125]]></Value>
    </succesStorieNumber3>
    <succesStorieTitle>
      <Value><![CDATA[Success story]]></Value>
    </succesStorieTitle>
    <trustedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "965ba567-506d-4a96-ada2-1e741d5738d5",
    "mediaKey": "d8536792-6bfc-4173-9ae9-c94f38cccf13",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundImage>
    <trustedButtonText>
      <Value><![CDATA[]]></Value>
    </trustedButtonText>
    <trustedButtonUrl>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonUrl>
    <trustedSectionHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedSectionHeadline>
    <trustedSectionHeadline2>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustedSectionHeadline2>
  </Properties>
</Content>