<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7f42aa9-c250-4df5-b137-207ba0e70617" Alias="Our Projects" Level="2">
  <Info>
    <Parent Key="742b5287-26a8-480b-84e8-dbf129ee1129">Official Onatrix - Home</Parent>
    <Path>/OfficialOnatrixHome/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-10-01T23:31:01</CreateDate>
    <NodeName Default="Our Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c90aae41-8e6d-49f5-98bf-cb4b0f8c8d72">projectsPage</Template>
  </Info>
  <Properties>
    <projectsAnnualButton>
      <Value><![CDATA[Read more]]></Value>
    </projectsAnnualButton>
    <projectsAnnualHeadline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsAnnualHeadline>
    <projectsAnnualImage>
      <Value><![CDATA[[
  {
    "key": "4a038d43-7b2c-4b1a-890b-d186ca4c32c5",
    "mediaKey": "7822f0aa-7a94-479a-9a2e-e7f587cbcd7b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsAnnualImage>
    <projectsAnnualText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsAnnualText>
    <projectsAnnualTime>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectsAnnualTime>
    <projectsBudgetButton>
      <Value><![CDATA[Read more]]></Value>
    </projectsBudgetButton>
    <projectsBudgetHeadline>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectsBudgetHeadline>
    <projectsBudgetImage>
      <Value><![CDATA[[
  {
    "key": "56d0c522-c3f8-4052-b8af-25154d7cacb7",
    "mediaKey": "f3a1f9e2-0181-4652-81ba-f3ac357bc7ee",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBudgetImage>
    <projectsBudgetText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsBudgetText>
    <projectsBudgetTime>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectsBudgetTime>
    <projectsBusinessButton>
      <Value><![CDATA[Read more]]></Value>
    </projectsBusinessButton>
    <projectsBusinessHeadline>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectsBusinessHeadline>
    <projectsBusinessImage>
      <Value><![CDATA[[
  {
    "key": "9ef45b90-3d6e-4df2-b278-8ff45688d321",
    "mediaKey": "87bb5fd0-9219-4a47-8939-4f2f984919ee",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBusinessImage>
    <projectsBusinessText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsBusinessText>
    <projectsBusinessTime>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectsBusinessTime>
    <projectsFinancialButton>
      <Value><![CDATA[Read more]]></Value>
    </projectsFinancialButton>
    <projectsFinancialHeadline>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectsFinancialHeadline>
    <projectsFinancialImage>
      <Value><![CDATA[[
  {
    "key": "d1470ccd-1b37-4a75-8cb5-0369eb082478",
    "mediaKey": "91787c3a-e60c-44d7-b1d5-f1bad1b758cd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsFinancialImage>
    <projectsFinancialText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectsFinancialText>
    <projectsFinancialTime>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectsFinancialTime>
  </Properties>
</Content>