<?xml version="1.0" encoding="utf-8"?>
<Content Key="3761c394-a01b-4b82-9ba5-9fde5e725933" Alias="Our Services" Level="2">
  <Info>
    <Parent Key="742b5287-26a8-480b-84e8-dbf129ee1129">Official Onatrix - Home</Parent>
    <Path>/OfficialOnatrixHome/OurServices</Path>
    <Trashed>false</Trashed>
    <ContentType>ourServices</ContentType>
    <CreateDate>2024-10-02T09:07:11</CreateDate>
    <NodeName Default="Our Services" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="181221d7-8d44-40aa-8ff9-c56ac5e71667">ourServices</Template>
  </Info>
  <Properties>
    <servicePageTitle>
      <Value><![CDATA[Services]]></Value>
    </servicePageTitle>
  </Properties>
</Content>