<?xml version="1.0" encoding="utf-8"?>
<Content Key="b66bb3e7-7077-44fe-8f10-d1ddfff2b71d" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="3761c394-a01b-4b82-9ba5-9fde5e725933">Our Services</Parent>
    <Path>/OfficialOnatrixHome/OurServices/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>riskManagement</ContentType>
    <CreateDate>2024-10-02T11:16:49</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9336f0b-679e-4590-a2b0-dc9ab885afef">riskManagement</Template>
  </Info>
  <Properties>
    <riskManagementAText>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </riskManagementAText>
    <riskManagementImage>
      <Value><![CDATA[[
  {
    "key": "0b2d269d-00dc-4817-9a50-a56ce0ccdff3",
    "mediaKey": "d66e6423-e81c-4bab-9ff2-639374fd1b74",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage>
    <riskManagementImage2>
      <Value><![CDATA[[
  {
    "key": "7846f77d-8515-4553-abcc-6d51a9a41f61",
    "mediaKey": "ef85bb6e-5876-41c6-b9d6-ffbf0ff4f80e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage2>
    <riskManagementImage3>
      <Value><![CDATA[[
  {
    "key": "bd520268-a66e-4b3f-94a5-6f79ba0ec993",
    "mediaKey": "68f13de4-54d9-43ac-8bc9-2a657525ab9e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementImage3>
    <riskManagementKeyPoint>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.]]></Value>
    </riskManagementKeyPoint>
    <riskManagementText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </riskManagementText>
    <riskManagementTitle>
      <Value><![CDATA[About us]]></Value>
    </riskManagementTitle>
  </Properties>
</Content>