<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c999c44-dce3-41c6-b559-f2b8d9d1ffcf" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-30T20:03:03</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <assuranceImage>
      <Value><![CDATA[[
  {
    "key": "0c6115e6-d0ec-4819-9586-5607bb54ce25",
    "mediaKey": "5bf3b60f-3d45-482b-9dfe-de99f1fb3438",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </assuranceImage>
    <assuranceText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </assuranceText>
    <assuranceTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </assuranceTitle>
    <bondsImage>
      <Value><![CDATA[[
  {
    "key": "ef8ac295-b6ff-4052-91e7-c29452376324",
    "mediaKey": "818c94ff-2881-4bd9-8102-d05620584525",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bondsImage>
    <bondsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </bondsText>
    <bondsTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </bondsTitle>
    <financialImage>
      <Value><![CDATA[[
  {
    "key": "6533cc42-6427-4f57-96bd-10b17ce69be5",
    "mediaKey": "0ba7fe2e-d1dc-4715-9e3a-8eb7bb2dc846",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </financialImage>
    <financialText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </financialText>
    <financialTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </financialTitle>
    <helpDeskImage>
      <Value><![CDATA[[
  {
    "key": "aa3c4cb7-3658-4233-8ec4-7d25a39908eb",
    "mediaKey": "c7714c80-7d78-4995-b9dd-20f03ff62b02",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </helpDeskImage>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhone>
    <ourServicesHeadline>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServicesHeadline>
    <ourServicesTitle>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </ourServicesTitle>
    <partnersLogo1>
      <Value><![CDATA[[
  {
    "key": "87aed22a-08b4-47fb-ad89-736969127942",
    "mediaKey": "dadba2a1-adf5-4599-b032-9e29e533a27c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo1>
    <partnersLogo2>
      <Value><![CDATA[[
  {
    "key": "86071f27-d2cc-4bdb-ab9e-79b1162cc5aa",
    "mediaKey": "1fe21f17-035c-4b99-a150-705a1606c11b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo2>
    <partnersLogo3>
      <Value><![CDATA[[
  {
    "key": "eda6dc2e-d46e-4624-bfc8-9535bfe29693",
    "mediaKey": "b0893acf-b52f-41d0-95d8-949dd3f47458",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo3>
    <partnersLogo4>
      <Value><![CDATA[[
  {
    "key": "3fa93262-e945-4fba-88d1-7334ae990c0e",
    "mediaKey": "84866568-868d-4305-8101-f1ca2149413a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo4>
    <partnersLogo5>
      <Value><![CDATA[[
  {
    "key": "311dc672-59e0-4ebe-befa-57a2c1ff9553",
    "mediaKey": "d4e3a4f6-3fed-461a-812b-6d9dafad085b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo5>
    <partnersLogo6>
      <Value><![CDATA[[
  {
    "key": "9305c369-f46a-4b63-98dd-343d42383aa2",
    "mediaKey": "4287ab6b-f0fe-4c0a-a99a-70fe19871e05",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo6>
    <riskImage>
      <Value><![CDATA[[
  {
    "key": "0fd9bd07-7bd9-4ad0-83e3-8b32b84d5cce",
    "mediaKey": "d66e6423-e81c-4bab-9ff2-639374fd1b74",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskImage>
    <riskText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </riskText>
    <riskTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </riskTitle>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "0739d7e0-b7ed-4e83-a511-2e9cc23707b3",
    "mediaKey": "a2e22f29-8142-4b64-9195-8fd00e2060dd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[]]></Value>
    </siteTagline>
    <statisticImage>
      <Value><![CDATA[[
  {
    "key": "5f7f3127-911a-47e2-8ac8-cb44b785385e",
    "mediaKey": "ef85bb6e-5876-41c6-b9d6-ffbf0ff4f80e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </statisticImage>
    <statisticText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </statisticText>
    <statisticTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </statisticTitle>
    <taxImage>
      <Value><![CDATA[[
  {
    "key": "b2c76be0-6d21-4f9a-811e-841e4cba8853",
    "mediaKey": "a7e7c524-58a1-4630-b0a5-cfbbf58ee5ea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </taxImage>
    <taxText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </taxText>
    <taxTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </taxTitle>
  </Properties>
</Content>