<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcf3c434-6894-45a6-9fbf-c57a8828b2ac" Alias="ourServices" Level="2">
  <Info>
    <Name>Our Services Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ourServices</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="181221d7-8d44-40aa-8ff9-c56ac5e71667">ourServices</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9fabb1b5-9a36-4868-a90a-d26b6dbe562f" SortOrder="0">riskManagement</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>660b76a0-75b4-45c6-ae13-1d3a9ff2ba9f</Key>
      <Name>Service - Page Title</Name>
      <Alias>servicePageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>faa8e061-c984-45bd-b9d8-1c404330adc4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>