@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    Layout = null;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "Onatrix";
    var siteTagline = settings?.Value<string>("siteTagline") ?? "Financial Solutions";

    var pageTitle = !string.IsNullOrEmpty(ViewBag?.Title) ? $"{ViewBag.Title} | {siteName} - {siteTagline}" : $"{siteName} - {siteTagline}";
	
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
    <title>@pageTitle</title>
</head>
<body>
	<div class="wrapper">
		<header>
			@await Html.PartialAsync("static/Header")
			@await Html.PartialAsync("static/Navbar")
		</header>
		<main>
			@RenderBody()
		</main>
		<footer>
			@await Html.PartialAsync("static/footer")
		</footer>
	</div>

	<script src="/script/main.js"></script>
</body>
</html>