<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fe21f17-035c-4b99-a150-705a1606c11b" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T22:26:31</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2wreb5kh/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>