<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0893acf-b52f-41d0-95d8-949dd3f47458" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T22:26:31</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwddwuru/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>