<?xml version="1.0" encoding="utf-8"?>
<Media Key="84866568-868d-4305-8101-f1ca2149413a" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T22:26:31</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tlmcizuw/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>