<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4e3a4f6-3fed-461a-812b-6d9dafad085b" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T22:26:31</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aqmfcnxw/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>