<?xml version="1.0" encoding="utf-8"?>
<Media Key="4287ab6b-f0fe-4c0a-a99a-70fe19871e05" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T22:26:31</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/telclihf/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>