<?xml version="1.0" encoding="utf-8"?>
<Media Key="437d8ae9-ce03-475b-adc7-45c87bc9d1a4" Alias="Aaron.png" Level="2">
  <Info>
    <Parent Key="36f202e6-b6c6-4244-97a1-da7e402e3231">About us Images</Parent>
    <Path>/AboutUsImages/Aaronpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T21:54:36</CreateDate>
    <NodeName Default="Aaron.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mzadx3lk/aaron.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>