<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bf3b60f-3d45-482b-9dfe-de99f1fb3438" Alias="assurance-audits.png" Level="2">
  <Info>
    <Parent Key="9fb6b084-cd4e-4956-9870-a9a0c5c2bed9">Services Images</Parent>
    <Path>/ServicesImages/assuranceAuditspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T23:06:27</CreateDate>
    <NodeName Default="assurance-audits.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qb4ll1jm/assurance-audits.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>