<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2e22f29-8142-4b64-9195-8fd00e2060dd" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T20:05:38</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ojeaqcz/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>