<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2bf65d6-a4d5-4409-8fe6-0ef523eb47da" Alias="Brandon Kerr.png" Level="2">
  <Info>
    <Parent Key="36f202e6-b6c6-4244-97a1-da7e402e3231">About us Images</Parent>
    <Path>/AboutUsImages/BrandonKerrpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T21:54:36</CreateDate>
    <NodeName Default="Brandon Kerr.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lgxpsbf2/brandon-kerr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>