<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cba882f-9c44-48cf-997d-1dc532a82649" Alias="ceo.png" Level="2">
  <Info>
    <Parent Key="36f202e6-b6c6-4244-97a1-da7e402e3231">About us Images</Parent>
    <Path>/AboutUsImages/ceopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T20:55:35</CreateDate>
    <NodeName Default="ceo.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ubbpzorn/ceo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>