<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6caaba6-f032-4da1-8582-77cbab9aef5e" Alias="Home Page Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePageImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-30T19:42:01</CreateDate>
    <NodeName Default="Home Page Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>