<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb0362fc-a8c1-4651-bfa7-d4a24640405e" Alias="Img.png" Level="2">
  <Info>
    <Parent Key="0aea87c6-eaa1-4b7f-a704-b0d8aba16a7d">Projects Images</Parent>
    <Path>/ProjectsImages/Imgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T12:45:01</CreateDate>
    <NodeName Default="Img.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oouek5ni/img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>