<?xml version="1.0" encoding="utf-8"?>
<Media Key="b227e524-ad2c-4cf3-823d-cae155c31dce" Alias="img_choose_01_home01 2.png" Level="2">
  <Info>
    <Parent Key="36f202e6-b6c6-4244-97a1-da7e402e3231">About us Images</Parent>
    <Path>/AboutUsImages/img_choose_01_home012png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T21:54:49</CreateDate>
    <NodeName Default="img_choose_01_home01 2.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vmxhcbcf/img_choose_01_home01-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>