<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c8fd1aa-1f0e-45d2-8cfa-41998c266bdf" Alias="map.png" Level="2">
  <Info>
    <Parent Key="11eec72c-8788-4d9b-bc7f-fca2122001ea">Contact Images</Parent>
    <Path>/ContactImages/mappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T15:25:04</CreateDate>
    <NodeName Default="map.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eunntsth/map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>