<?xml version="1.0" encoding="utf-8"?>
<Media Key="68f13de4-54d9-43ac-8bc9-2a657525ab9e" Alias="meeting.png" Level="2">
  <Info>
    <Parent Key="9fb6b084-cd4e-4956-9870-a9a0c5c2bed9">Services Images</Parent>
    <Path>/ServicesImages/meetingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T11:27:09</CreateDate>
    <NodeName Default="meeting.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/np1lpxvq/meeting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>