<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dcce9a9-e6a8-44d6-907e-869da4f690f7" Alias="Miranda Dayton.png" Level="2">
  <Info>
    <Parent Key="36f202e6-b6c6-4244-97a1-da7e402e3231">About us Images</Parent>
    <Path>/AboutUsImages/MirandaDaytonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T21:54:36</CreateDate>
    <NodeName Default="Miranda Dayton.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eyrjvo4b/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>