<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaeca2e1-bce7-4bdd-a151-5a5751417c28" Alias="people-at-table2.png (1)" Level="2">
  <Info>
    <Parent Key="9fb6b084-cd4e-4956-9870-a9a0c5c2bed9">Services Images</Parent>
    <Path>/ServicesImages/peopleAtTable2png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T11:25:44</CreateDate>
    <NodeName Default="people-at-table2.png (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nzukuheo/people-at-table2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>