<?xml version="1.0" encoding="utf-8"?>
<Media Key="7822f0aa-7a94-479a-9a2e-e7f587cbcd7b" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="0aea87c6-eaa1-4b7f-a704-b0d8aba16a7d">Projects Images</Parent>
    <Path>/ProjectsImages/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T08:55:10</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eu3gjtx3/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>