<?xml version="1.0" encoding="utf-8"?>
<Media Key="87bb5fd0-9219-4a47-8939-4f2f984919ee" Alias="pj2.png" Level="2">
  <Info>
    <Parent Key="0aea87c6-eaa1-4b7f-a704-b0d8aba16a7d">Projects Images</Parent>
    <Path>/ProjectsImages/pj2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T08:55:10</CreateDate>
    <NodeName Default="pj2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l4kp0mlq/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>