<?xml version="1.0" encoding="utf-8"?>
<Media Key="91787c3a-e60c-44d7-b1d5-f1bad1b758cd" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="0aea87c6-eaa1-4b7f-a704-b0d8aba16a7d">Projects Images</Parent>
    <Path>/ProjectsImages/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T08:55:10</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ww1d2j1f/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>