<?xml version="1.0" encoding="utf-8"?>
<Media Key="0aea87c6-eaa1-4b7f-a704-b0d8aba16a7d" Alias="Projects Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-30T19:43:10</CreateDate>
    <NodeName Default="Projects Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>