<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2c07c4-8c43-4787-bde4-48ab87bf8ce3" Alias="project3.png" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/project3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T22:02:05</CreateDate>
    <NodeName Default="project3.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jpghu5jk/project3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>