<?xml version="1.0" encoding="utf-8"?>
<Media Key="8516a465-10df-455d-a570-2bf860d99c58" Alias="project4.png" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/project4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T22:02:07</CreateDate>
    <NodeName Default="project4.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3jxfam3w/project4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>