<?xml version="1.0" encoding="utf-8"?>
<Media Key="d66e6423-e81c-4bab-9ff2-639374fd1b74" Alias="risk-management.png" Level="2">
  <Info>
    <Parent Key="9fb6b084-cd4e-4956-9870-a9a0c5c2bed9">Services Images</Parent>
    <Path>/ServicesImages/riskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T23:05:51</CreateDate>
    <NodeName Default="risk-management.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vsxcqydv/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>