<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fb6b084-cd4e-4956-9870-a9a0c5c2bed9" Alias="Services Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-30T19:43:23</CreateDate>
    <NodeName Default="Services Images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>