<?xml version="1.0" encoding="utf-8"?>
<Media Key="be261179-163e-492e-bfb6-3adacf031b7e" Alias="Signatures.png" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/Signaturespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T21:23:26</CreateDate>
    <NodeName Default="Signatures.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/41nhaccx/signatures.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>