<?xml version="1.0" encoding="utf-8"?>
<Media Key="cffd1dcc-1b6a-4ac8-87f7-a96056747699" Alias="sl-home2.jpg" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/slHome2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T21:23:44</CreateDate>
    <NodeName Default="sl-home2.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ipllw4id/sl-home2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>