<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8536792-6bfc-4173-9ae9-c94f38cccf13" Alias="trusted-gruop.png" Level="2">
  <Info>
    <Parent Key="a6caaba6-f032-4da1-8582-77cbab9aef5e">Home Page Images</Parent>
    <Path>/HomePageImages/trustedGruoppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T21:23:50</CreateDate>
    <NodeName Default="trusted-gruop.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dwwbk1uv/trusted-gruop.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>