<?xml version="1.0" encoding="utf-8"?>
<Media Key="c65789bd-2b46-43f9-b58f-77baee6a64de" Alias="woman-sitting.png" Level="2">
  <Info>
    <Parent Key="0aea87c6-eaa1-4b7f-a704-b0d8aba16a7d">Projects Images</Parent>
    <Path>/ProjectsImages/womanSittingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T12:21:46</CreateDate>
    <NodeName Default="woman-sitting.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gjbbc2bp/woman-sitting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>